*.iml
*.swp
*~
.gradle
*.iws
/local.properties
*.jks

# IDE
.idea/*
.idea/workspace.xml
.idea/tasks.xml

# Build
/build/*
*/build/*
/app/release/*

# Fastlane related files
play_config.json
Gemfile.lock
/vendor/*
/fastlane/README.md
/fastlane/report.xml
